<!-- _account_summary.html. This table is included in transactions.html -->
<div class="card">
    <div class="card-header">Account Summary</div>
    <div class="card-body">
        <div class="mb-3">
            <p class="mb-0"><strong>Total Account Value</strong></p>
            <p>${{ "%.2f"|format(total_account_value) }}</p>
        </div>
        <div class="mb-3">
            <p class="mb-0"><strong>Cash Balance</strong></p>
            <p>${{ "%.2f"|format(cash_balance) }}</p>
        </div>
        <div class="mb-3">
            <p class="mb-0"><strong>Total Stock Value</strong></p>
            <p>${{ "%.2f"|format(total_current_value) }}</p>
        </div>
        <div class="mb-3">
            <p class="mb-0"><strong>Total Gain/Loss</strong></p>
            <p class="{{ 'text-success' if total_gain_loss > 0 else 'text-danger' }}">
                ${{ "%.2f"|format(total_gain_loss) }} ({{ "%.2f"|format(overall_gain_loss_percentage) }}%)
            </p>
        </div>
        <div class="mb-3">
            <p class="mb-0"><strong>Holdings Gain/Loss</strong></p>
            <p class="{{ 'text-success' if position_gain_loss > 0 else 'text-danger' }}">
                ${{ "%.2f"|format(position_gain_loss) }} ({{ "%.2f"|format(position_gain_loss_percentage) }}%)
            </p>
        </div>
    </div>
</div>